.explore{
    border: 2px solid black;
}
.space{
    border: 2px solid black;
    margin: 20px;
}
.onga{
    border: 2px solid black;

}
.return{
    border: 2px solid black;
    margin: 20px;

}
.sunwhatt{
    border: 2px solid black;
}