.navbar{
    border: 1px solid black;
    /*margin: 20px;*/
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
}
.form{
    border: 0px solid #444;
    position: fixed;
    right: 700px;
    padding: 20px 20px ;
    margin: 10px 10px;
    

}
.flex{
    border: 0px solid black;
    position: relative;
    padding: 20px 20px;
    margin: 10px 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 500px;
    
}
.h6{
    font-size: small;
    font-weight: 10px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: style none;
}
a{
    color: black;
    
}
a:hover{
    color: rgb(183, 204, 223);

}