.media{
    /*border: 1px solid black;*/

    /*background-color: black;*/
    display: inline-block;
    /*padding: 6px 16px 16px;*/
    /*color: #0a0c0f;*/
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    transition: padding .5s ease;
    cursor: pointer;
    /*color: white!important;*/
    /*background-color: #000;*/
    opacity: 1.00;
    
}
.corner{
    
        color: #fff;
        background-color: #000;
        border-color: #000;
    
}
.cool{
    color: white;
    /*font-weight: 600;
    font-size: 18px;
    font-family: "HCo Gotham",sans-serif;
    line-height: 24px;*/
    letter-spacing: 0;
    /*border: 2px solid;*/
    /*border-radius: 6px;*/
    outline: 0 none;
    display: inline-block;
    box-sizing: border-box;
    /*width: 100%;*/
    min-width: 144px;
    max-width: 560px;
    vertical-align: top;
    margin: 0;
    /*padding: 10px 30px;*/
    text-align: center;
    /*white-space: pre-wrap;*/
    transition: transform .1s linear,box-shadow .1s linear,background-color .1s linear;
    /*-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    /*hyphens: auto;*/
}
.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#story{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva,
     Verdana, sans-serif;
     
}
#image{
    width: 130%;
    height: 200%;
}
.main{
    background-color: beige;
    margin:75px;
    border-top: 20px;
    border-bottom: 20px;
    border: 1px solid black;
    padding: 20px;

}



